body {
	background-color: #181B26;
	color: #FFFFFF;
}
h1 {
    color: #48929B;
}
p {
    color: #EBF6F7;
}

.header {
	overflow: hidden;
	background-color: #FFB61E;
	padding: 20px 10px;
}

.header a {
	float: left;
	color: #181B26;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
}

.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header a:hover {
	color: #EBF6F7;
	background-color: #737373;
}

.header a.active {
	background-color: #48929B;
	color: #EBF6F7;
}

